html, body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

br {
    background-color: white;
}

section {
    display: flex;
    justify-content: center;
}

nav, .userInfo, .matchStory {
    width: 1140px;
    padding: 10px 0;
}

.logo {
    width: 150px;
}

.userInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userName {
    font-size: 50px;
}

.userRealInfo {
    font-size: 30px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #dc3a3a;
}

.matchHistory p {
    font-size: 40px;
}

.matchBlock {
    width: 100%;
    height: 200px;
    border: 1px solid #dc3a3a;
}

