form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrationBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    margin: 40px 0;
    text-align: center;
}

input {
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
    padding: 10px 15px;
    margin: 10px 0;
    width: 400px;
}

button {
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #ED2839;
    color: white;
    margin: 10px 0;
    width: 300px;
}

label {
    display: flex;
    flex-direction: column;
}

ul {
    margin: 5px 0;
}

li {
    font-style: italic;
    color: gray;
    font-size: 15px;
}

.inputRequirements {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

input:not([type="submit"]):valid {
    border-color: #5aa75a;
}

input:not([type="submit"]):invalid {
    border-color: #e50630;
}

input:not([type="submit"]):hover + .inputRequirements,
input:not([type="submit"]):active + .inputRequirements,
input:not([type="submit"]):focus + .inputRequirements {
    max-height: 1000px;
}

.valid {
    color: #5aa75a;
}

.invalid {
    color: red;
}

@media (max-device-width: 762px) {
    input {
        width: 300px;
    }
}

@media (max-device-width: 362px) {
    label {
        margin: 0 10px;
        width: 232px;
    }

    input, button {
        width: 200px;
    }
}