form {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    align-items: center;
}

h1 {
    font-size: 30px;
    margin-left: 40px;
    text-align: center;
}

input {
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
    padding: 10px 15px;
    margin: 10px 0;
    width: 400px;
}

button {
    width: 30%;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #ED2839;
    color: white;
    margin: 10px 0;
}

p {
    color: red;
    display: none;
    margin: 0;
}