html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav, .rightSide, .leftSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    -webkit-box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 11px -5px rgba(34, 60, 80, 0.2);
    padding: 15px 0;
}

h1 {
    margin: 0;
}

.navbar {
    width: 100%;
    transition: width 0.3s;
    align-self: flex-end;
}

a {
    text-decoration: none;
    color: black;
}

#all {
    width: 100%;
    transition: all 0.3s;
}

.logo_box {
    font-weight: bold;
    font-size: 28px;
}

.logButton {
    padding: 10px 30px;
    margin: 0 15px;
    border-radius: 20px;
    background-color: #ED2839;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

.logButton:first-of-type {
    background-color: #524d4d;
}

.logButton:hover {
    background-color: #d52953;
}

#menuButton {
    margin: 0 20px;
}

.menuLine {
    width: 30px;
    height: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    transition: width 0.3s;
}

.search {
    padding: 10px 10px 10px 40px;
    border-radius: 20px;
    outline: none;
    border: 1px solid black;
    margin: 0 15px;
}

label {
    position: relative;
}

.searchIcon {
    position: absolute;
    top: calc(50% - 12px);
    left: 24px;
}

#menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    left: -25%;
    transition: left 0.3s;
    z-index: 100;
}

#exitIcon {
    width: 50px;
    margin: 10px;
    align-self: flex-end;
}

.menuList {
    color: white;
    font-size: 25px;
    padding: 20px;
}

.menuList:hover {
    background-color: rgb(90, 84, 84);
}

.banner {
    width: 100%;
    height: 500px;
    background-color: #1d1c1c;
    color: white;
    display: flex;
}

.bannerSide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.bannerSide h1 {
    font-size: 50px;
    font-style: italic;
    margin-left: 100px;
    position: relative;
}

.bannerSide p {
    font-size: 24px;
    margin-left: 100px;
}

.logo {
    position: absolute;
    top: 0;
    right: 400px;
}

.redSquare {
    width: 50px;
    height: 50px;
    background-color: #ED2839;
    transform: skewX(-40deg);
    position: absolute;
}

.logoContent {
    text-align: right;
    margin-right: 140px;
}

.s1 {
    left: 0;
    top: -25px;
}

.s2 {
    left: 20px;
    top: 25px;
}

.matchesBlock {
    display: flex;
    justify-content: center;
}

.matchesBlock h1 {
    font-size: 50px;
    margin: 70px 0;
}

.matchesList {
    display: flex;
    flex-direction: column;
}

.match {
    display: flex;
}
